body {
    background: #5b5757;
}
.text {
    color: #fff;
    font-size: 20px;
}
.container {
    height: 100px;
    width: 650px;
    background: #eae3e3;
    border-radius: 15px;
    position: fixed;
    left: 50%;
    top: 80%;
}

.circle {
    width: 100px;
    height: 100px;
    background: #e42d2d;
    border-radius: 50%;
    position: absolute;
    bottom: 50%;
    left: 10%;
}