.block1 {
    font-family: "Open Sans", "Arial", serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    font-style: italic;
}
.block2 {
    text-decoration: line-through;
}
.block3 {
    text-align: center;
    text-transform: uppercase;
}
.block4 {
    text-decoration: overline wavy;
    word-spacing: 30px;
    text-shadow: 1px 1px 1px #941bc0;
}
.block5 {
    text-decoration: underline double;
    letter-spacing: 5px;
}