
/* =========================ABOUT problem============================= */

.main__about {
    padding-top: 215px;
    padding-bottom: 119px;
}

.about {
    background: #F0E3DA;
}

.problem {
    background: var(--white-color);
    padding: 110px 90px 110px 90px;
    margin-left: 51px;
    position: relative;
    z-index: 20;

}

.problem::after {
    content: url("../img/decor/lines/line-problem.svg");
    position: absolute;
    top: -3%;
    right: 0%;
}

.problem::before {
    content: url("../img/decor/Problem.svg");
    z-index: 50;
    position: absolute;
    bottom: 35%;
    left: 6%;
}

.problem__inner {
    display: flex;
    justify-content: space-between;
    gap: 60px;
}

.problem__img {
    z-index: 1;
}

.problem__img img {
    max-width: 600px;
}

.problem__content {
    max-width: 630px;
}

.problem__content::before {
    content: url("../img/decor/bg-points.png");
    position: absolute;
    top: 0%;
    left: 29%;
}

.problem__title {
    position: relative;
    top: 0%;
    left: -24%;

    margin-bottom: 40px;
    z-index: 2;
}

.title {
    font-family: "Kudryashev Display", sans-serif;
    font-size: 88px;
    line-height: 1.05;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    max-width: 678px;
}

.problem__title-span {
    margin-left: 160px;
}

.title span {
    color: var(--accent-color);
    font-size: 76px;
}

.problem__title-text {
    margin-bottom: 45px;
}

.problem__list {
    line-height: 1.4;
    display: grid;
    grid-template-columns: repeat(2, .5fr);
    gap: 50px 50px;

    margin-bottom: 40px;

}

.problem__item {
    display: flex;
    align-items: center;
    gap: 26px;
}

.problem__button {
    margin-left: -100px;
}

.problem__button-block {
    left: 10%;
}

.problem__button-text {
    transition: var(--transition);
}

.problem__button-text:hover {
    color: var(--accent-color);
    transform: scale(1.1);
}

/* =========================ABOUT aptos-top============================= */
.main__aptos {
    background: url("../img/decor/lines/line-aptos.svg") -11% 32% / auto no-repeat;
    position: relative;
}

.main__aptos::before {
    content: url("../img/decor/ellipse.svg");

    position: absolute;
    top: 20%;
    left: -14%;
}

.aptos__top {
    margin-bottom: 290px;
}

.aptos__top-inner {
    display: flex;
    justify-content: space-between;
    gap: 90px;
}

.img__decor {
    width: 832px;
    height: 623px;
    background: #eacfbc;
    z-index: 1;
}

.aptos__top-img {
    margin-top: -190px;
    position: relative;
    top: 0%;
    left: 8%;
    z-index: 1;
}

.aptos__top-img::before {
    content: url("../img/decor/Aptos.svg");
    position: absolute;
    bottom: -1%;
    right: 16%;
}

.aptos__top-content {
    max-width: 694px;
    position: relative;
}

.aptos__top-content::before {
    content: url("../img/decor/bg-points.png");
    position: absolute;
    top: -25%;
    right: 81%;
}

.aptos__top-title {
    position: relative;
    left: -23%;
    margin: -22px 0 50px 0;
    z-index: 10;
}

.aptos__title-span {
    margin-left: 138px;
}

.aptos__title-text {
    margin-bottom: 21px;
}

.aptos__top-text {
    max-width: 548px;
}


/* =========================ABOUT aptos-body============================= */
.aptos__body {
    position: relative;
    margin-bottom: 260px;
}

.aptos__body-inner {
    display: flex;
    gap: 240px;
    justify-content: center;
}

.aptos__accent-text {
    font-family: "Lora", sans-serif;
    font-style: italic;
    font-size: 35px;
    line-height: 1.54;
    color: var(--accent-color);

    margin-bottom: 109px;
    max-width: 560px;
    position: relative;
    z-index: 5;
}

.aptos__accent-text::before {
    content: url("../img/decor/forging-aptos.svg");

    position: absolute;
    top: -3%;
    left: -9%;
    z-index: -1;
}

.aptos__info-text {
    line-height: 2;
    color: var(--general-text);

    max-width: 568px;
}

.aptos__info-img {
    margin-top: -95px;
}

.aptos__body-img {
    margin-bottom: 38px;
    position: relative;
}

.aptos__body-img::after {
    content: url("../img/decor/bg-aptos.svg");
    position: absolute;
    bottom: -1%;
    right: -5%;
}

.aptos__decor {
    position: absolute;
    top: 31%;
    left: 39%;
    animation: rotation 10s linear infinite;
}

/* ==============================ABOUT aptos-bottom================================ */
.aptos__bottom-inner {
    display: flex;
    justify-content: space-between;
    gap: 83px;
}

.aptos__bottom-img {
    position: relative;
}

.aptos__bottom-img::after {
    content: url("../img/decor/Video.svg");

    position: absolute;
    bottom: 28%;
    right: -7%;
}

.aptos__img-control {
    position: absolute;
    top: 35%;
    left: 44%;

    transition: var(--transition);
    border-radius: 50%;
    box-shadow: 0 4px 20px 0 rgba(184, 148, 126, 0.3);
}

.aptos__img-control:hover {
    border: solid 1px var(--white-color);
    padding: 6px;
}

.aptos__bottom-title {
    font-size: 85px;
    line-height: .9;
    text-transform: none;

    position: relative;
    top: -11%;
    left: -47%;
}

.aptos__bottom-list {
    margin-bottom: 130px;
}

.aptos__bottom-item {
    margin-bottom: 41px;
}

.procedure__list-inner {
    display: flex;
    align-items: start;
    color: var(--general-text);
}

.procedure__item-inner:first-child {
    margin-top: -3px;
    margin-right: 20px;
}

.procedure__item-inner:nth-child(2) {
    font-size: 30px;
    font-family: "Lora", sans-serif;
    line-height: 1.38;
    font-style: italic;
    margin-right: 44px;
    max-width: 171px;
}

.procedure__item-inner:last-child {
    font-size: 18px;
    line-height: 1.8;
    max-width: 435px;
}

.aptos__bottom-info {
    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 720px;
    font-weight: 500;
    font-size: 18px;
}

.aptos__info-name {
    line-height: 1.34;
    text-transform: uppercase;
}

.aptos__info-content {
    line-height: 1.05;
}

.aptos__bottom-line {
    border: 1px solid #b68c6e;
    width: 100%;

    margin: 20px 0px 20px 0px;
}

/* ==============================PROCEDURE================================ */

.main_procedure {
    padding: 102px 0px 303px 0px;
}

.procedure {
    background: url("../img/decor/lines/line-after.svg") 97% 11% / auto no-repeat;
}

.procedure__title {
    font-family: "Kudryashev Display", sans-serif;
    font-size: 80px;
    line-height: 0.9;

    max-width: 572px;
    margin-bottom: 65px;
}

.procedure__list {
    display: flex;
    justify-content: space-around;

    margin-bottom: 126px;
}

.procedure__item {
    max-width: 285px;
}

.procedure__item span {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.38;
    text-transform: uppercase;
    color: #22211e;

    display: block;
    margin-bottom: 15px;
}

.procedur__item-img {
    margin-bottom: 27px;
}

.procedure__inner {
    display: flex;
    justify-content: center;
    gap: 110px;
}

.procedure__example-slider {
    position: relative;
}

.procedure__example-content {
    position: relative;
}

.procedure__example-content::before {
    content: url("../img/decor/bg-points.png");
    position: absolute;
    top: -17%;
    left: -88%;
}

.procedure__example-title {
    font-family: "Kudryashev Display", sans-serif;
    line-height: 1;
    font-size: 110px;
    max-width: 382px;
    margin-bottom: 72px;
}

.procedure__example-title span {
    color: var(--accent-color);
    font-size: 85px;
    position: relative;
    top: 0%;
    left: -28%;
}

.procedure__title-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.84;
    text-transform: uppercase;
    max-width: 360px;
}

.procedure__title-text span {
    color: var(--accent-color);
}

.procedure__button {
    position: absolute;
    bottom: -38%;
    left: -20%;
}

.procedure__button-block {
    position: absolute;
    top: 39%;
    left: 42%;
}

.procedure__button-text {
    transition: var(--transition);
}

.procedure__button-text:hover {
    color: var(--accent-color);
    transform: scale(1.1);
}

.procedure__slider {
    position: relative;
    max-width: 600px;
}

.procedure__slider::after {
    content: url("../img/decor/After.svg");
    position: absolute;
    bottom: -3%;
    left: 6%;
    z-index: 15;
}

.procedure__slide {
    padding: 30px;
}

.procedure__slide img {
    width: 100%;
    border-radius: 5px;
}

.procedure__prev {
    position: absolute;
    top: 45%;
    left: 0%;
    z-index: 10;
    cursor: pointer;
}

.procedure__next {
    position: absolute;
    top: 45%;
    right: 0%;
    z-index: 10;
    cursor: pointer;
}

/* ==============================PRICE================================ */

.price {
    padding: 220px 0px 233px 0px;
    background: #f0e3da;

    position: relative;
}

.price::before {
    content: url("../img/decor/lines/line-brows.svg");
    position: absolute;
    top: -10%;
    left: 23.5%;
}

.price__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price__title {
    font-family: "Kudryashev Display", sans-serif;
    font-size: 85px;
    line-height: .9;

    max-width: 590px;
    margin-bottom: 40px;

    position: relative;
}

.accordion__list {
    padding: 40px 100px 40px 80px;
    max-width: 600px;
}

.accordion__tab-content {
    margin-bottom: 23px;
}

.accordion__tab-content:last-child {
    margin-bottom: 0;
}

.accordion__tab-control {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.12;
    text-transform: uppercase;

    transition: var(--transition);
}


.accordion__tab-control:hover,
.accordion__tab-control:focus {
    color: var(--accent-color);
}

.accordion__tab-info {
    display: flex;
    align-items: start;
    justify-content: space-between;

    max-height: 0;
    overflow: hidden;
    transition: var(--transition);
}

.accordion__tab-text {
    max-width: 267px;
}

.accordion__tab-value {
    font-family: "Lora", sans-serif;
    font-weight: 500;
    font-size: 28px;
    color: var(--accent-color);
}

.price__button {
    position: relative;
}

.price__button-block {
    position: absolute;
    top: 37%;
    left: 14%;
}

.price__button-text {
    transition: var(--transition);
}

.price__button-text:hover {
    color: var(--accent-color);
    transform: scale(1.1);
}

.price__img {
    max-width: 500px;

    position: relative;
}

.price__img::before {
    content: url("../img/decor/Brows.svg");
    position: absolute;
    bottom: 8px;
    left: -63px;
}

.price__img img {
    width: 100%;
}

/* ==============================TEAM================================ */

.team {
    padding: 278px 0 272px;
}

.team__title {
    font-family: "Kudryashev Display", sans-serif;
    font-size: 85px;
    line-height: 1.12;

    max-width: 437px;
    margin-bottom: 156px;
}

.team__list {
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: relative;
}

.team__list::before {
    content: url("../img/decor/ellipse.svg");
    position: absolute;
    top: -32%;
    left: -17%;
}

.team__item:nth-child(2) {
    position: absolute;
    top: -47%;
    left: 37%;
}

.team__item:last-child {
    position: absolute;
    top: 16%;
    right: 0%;
}

.team__img {
    position: relative;

    margin-bottom: 47px;
    transition: var(--transition);
}

.team__img:hover img {
    background: #fff;
    opacity: 0.8;
    cursor: pointer;
}

.team__img:hover::before {
    content: url("../img/icons/team-icon.svg");
    position: absolute;
    top: 37%;
    left: 30%;
    z-index: 10;
}

.team__img:hover::after {
    content: "Смотреть сертификаты";
    font-size: 14px;
    line-height: 1.47;
    text-transform: uppercase;
    text-align: center;
    color: #22211e;
    max-width: 193px;

    position: absolute;
    top: 61%;
    left: 15%;
}

.img-1 {
    position: absolute;
    top: -15%;
    left: -15%;

    z-index: -10;
}

.img-2 {
    position: absolute;
    top: -12%;
    left: 18%;
    z-index: -10;
}

.img-3 {
    position: absolute;
    bottom: -13%;
    left: 10%;
    z-index: -10;
}

.team__text {
    font-family: "Kudryashev Display", sans-serif;
    font-size: 30px;
    line-height: 1.23;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    position: relative;
}

.text-1 {
    max-width: 411px;
}

.text-2 {
    max-width: 291px;
    position: absolute;
    top: 18%;
    right: -88%;
}

.text-3 {
    max-width: 291px;
    position: absolute;
    bottom: -2%;
    left: -40%;
}

/* ==============================REVIEWS================================ */
.main__reviews {
    padding: 163px 0 238px 0;
}

.reviews {
    padding: 163px 0 298px 0;
    background: #f0e3da;
    color: var(--general-text);
}

.reviews__content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 72px;
}

.reviews__title {
    font-family: "Kudryashev Display", sans-serif;
    font-size: 85px;
    line-height: 1.12;
    max-width: 700px;
}

.reviews__title span {
    color: var(--accent-color);
}

.reviews__nav {
    display: flex;
    align-items: center;
    gap: 100px;
}

.reviews__prev {
    background: transparent;

    position: relative;
    transition: var(--transition);
}
.reviews__prev path {
    transition: var(--transition);
}
.reviews__prev::before {
    content: "";
    border: 3px solid #DBBF8D;
    border-radius: 50%;
    width: 60px;
    height: 60px;

    position: absolute;
    top: -12px;
    left: -14px;
}
.reviews__prev:hover::before {
    border: 3px solid var(--accent-color);
}
.reviews__prev:hover path {
    fill: var(--accent-color);
}

.reviews__next {
    background: transparent;

    position: relative;
    transition: var(--transition);
}
.reviews__next path {
    transition: var(--transition);
}
.reviews__next::before {
    content: "";
    border: 3px solid #DBBF8D;
    border-radius: 50%;
    width: 60px;
    height: 60px;

    position: absolute;
    top: -12px;
    right: -17px;
}
.reviews__next:hover::before {
    border: 3px solid var(--accent-color);
}
.reviews__next:hover path {
    fill: var(--accent-color);
}

.reviews__slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reviews__slide-img {
    margin-bottom: 31px;
}

.reviews__slide-img img {
    border-radius: 50%;
}

.reviews__slide-name {
    font-family: "Kudryashev Display", sans-serif;
    font-size: 20px;
    line-height: 1.12;

    margin-bottom: 10px;
}

.reviews__slide-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    text-align: center;
    color: #22211e;

    margin-bottom: 31px;
    text-align: center;
    max-width: 270px;
}

.reviews__slide-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.reviews__slide-line {
    border: 1px solid #ccc7c3;
    width: 1px;
    height: 340px;
}
